<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Anime Gallery</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
    </head>
    <body align="center">
        <div style="padding: 20% 30%;">
            <h1>{{ title }}</h1>
            <h2>Anime is a form of Japanese-style computer animation work that is popular in East Asia. This website presents a streamlined dataset from kaggle.com, which focuses on the ratings of the most popular Anime on MyAnimeList, a well-known English-language Anime online community, until November 2020</h2>
            <p>
                <a href={{ url_for('anime.index') }}>click to start</a>
            </p>
        </div>
    </body>
</html>